# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from config import g_key
gmaps.configure(api_key= g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [23]:
part_1csv = "/Users/chipampe/Desktop/python api - homework/cities.csv"
weather_data = pd.read_csv(part_1csv)

weather_data.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,albany,US,42.6001,-73.9662,80.15,69,5,1.95,1627395208
1,avarua,CK,-21.2078,-159.7750,69.85,94,75,2.30,1627395209
2,baglan,AF,36.1307,68.7083,98.82,15,0,9.82,1627395211
3,provideniya,RU,64.3833,-173.3000,46.92,99,100,9.86,1627395211
4,hasaki,JP,35.7333,140.8333,73.80,73,80,13.38,1627395037

In [24]:
weather_data.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,537.000000,537.000000,537.000000,537.000000,537.000000,537.000000,5.370000e+02
mean,13.721042,17.403017,74.566276,65.143389,49.681564,8.713538,1.627395e+09
std,30.134369,88.357272,13.283289,24.064898,40.214735,6.086871,1.660000e+02
min,-54.800000,-175.200000,35.260000,4.000000,0.000000,0.000000,1.627395e+09
25%,-11.096400,-61.348500,66.870000,51.000000,4.000000,4.050000,1.627395e+09
50%,17.881500,21.889200,76.840000,72.000000,48.000000,7.520000,1.627395e+09
75%,40.602000,94.390000,82.450000,84.000000,92.000000,11.900000,1.627396e+09
max,65.614500,179.316700,115.250000,100.000000,100.000000,33.380000,1.627396e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [25]:
gmaps.configure(api_key=g_key)
print()

In [26]:

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# use humidity as the weight
weight = weather_data["Humidity"]

# set figure layout
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'
}

# Plot Heatmap
fig = gmaps.figure(map_type = 'HYBRID', layout=figure_layout)



# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, 
                                weights=weight,
                                dissipating=False, 
                                max_intensity=100,
                                point_radius=6, 
                                opacity = 0.4,)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='800px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure